<h1>Listing payment_methods</h1>

<table>
  <tr>
    <th>Paymentmethod</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payment_methods.each do |payment_method| %>
  <tr>
    <td><%= payment_method.PaymentMethod %></td>
    <td><%= link_to 'Show', payment_method_path(payment_method,params)  %></td>
    <td><%= link_to 'Edit', edit_payment_method_path(payment_method,params) %></td>
    <td><%= link_to 'Destroy', payment_method_path(payment_method,params), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment method', new_payment_method_path %>

<br />

<%= link_to 'Back', (params[:payment].nil? || params[:payment] == "" ? new_payment_path(params) : "/widgets/payments/#{params[:payment]}/edit" ) %>
