<h1>Listing components</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Unitcost</th>
    <th>Quantityonhand</th>
    <th>Re-order At Quantity</th>
    <th>Supplier</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @components.each do |component| %>
  <tr>
    <td><%= component.Name %></td>
    <td><%= component.UnitCost %></td>
    <td><%= component.QuantityOnHand %></td>
    <td><%= component.ReorderQuantity %></td>
    <td><%= component.Supplier %></td>
    <td style="text-align:center;"><%= imgLink('show.png',"16x16",component) %></td>
    <td style="text-align:center;"><%= imgLink('edit.png',"16x16",edit_component_path(component)) %></td>
    <td style="text-align:center;"><%= imgLink('delete.png',"16x16",component, confirm: 'Are you sure?', method: :delete) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Component', new_component_path %>
