<h1>Listing employees</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    <th>Work Phone</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.FirstName %></td>
    <td><%= employee.LastName %></td>
    <td><%= employee.Title %></td>
    <td><%= employee.WorkPhone %></td>
    <td style="text-align:center;"><%= imgLink('show.png',"16x16",employee) %></td>
    <td style="text-align:center;"><%= imgLink('edit.png',"16x16",edit_employee_path(employee)) %></td>
    <td style="text-align:center;"><%= imgLink('delete.png',"16x16",employee, confirm: 'Are you sure?', method: :delete) %></td>
  </tr>
<% end %>
<tr><td colspan=7><%= link_to 'Add New Employee', new_employee_path %></td></tr>

</table>

<br />

