<h1>Listing order_details</h1>

<table>
  <tr>
    <th>Orderid</th>
    <th>Productid</th>
    <th>Quantity</th>
    <th>Unitprice</th>
    <th>Discout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_details.each do |order_detail| %>
  <tr>
    <td><%= order_detail.OrderID %></td>
    <td><%= order_detail.ProductID %></td>
    <td><%= order_detail.Quantity %></td>
    <td><%= order_detail.UnitPrice %></td>
    <td><%= order_detail.Discout %></td>
    <td><%= link_to 'Show', order_detail %></td>
    <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
    <td><%= link_to 'Destroy', order_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order detail', new_order_detail_path %>
