<p id="notice"><%= notice %></p>

<p>
  <b>Order ID:</b>
  <%= @order_detail.OrderID %>
</p>

<p>
  <b>Product:</b>
  <%= Product.find(@order_detail.ProductID).ProductName %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order_detail.Quantity %>
</p>

<p>
  <b>Unit Price:</b>
  <%= @order_detail.UnitPrice %>
</p>

<p>
  <b>Discount:</b>
  <%= @order_detail.Discount %>
</p>


<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', "/widgets/orders/#{@order_detail.OrderID}" %>
