<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :FirstName %><br />
    <%= f.text_field :FirstName %>
  </div>
  <div class="field">
    <%= f.label :LastName %><br />
    <%= f.text_field :LastName %>
  </div>
  <div class="field">
    <%= f.label :BillingAddress1 %><br />
    <%= f.text_field :BillingAddress1 %>
  </div>
  <div class="field">
    <%= f.label :BillingAddress2 %><br />
    <%= f.text_field :BillingAddress2 %>
  </div>
  <div class="field">
    <%= f.label :BillingCity %><br />
    <%= f.text_field :BillingCity %>
  </div>
  <div class="field">
    <%= f.label :BillingState %><br />
    <%= f.text_field :BillingState %>
  </div>
  <div class="field">
    <%= f.label :BillingZip %><br />
    <%= f.text_field :BillingZip %>
  </div>
  <div class="field">
    <%= f.label :BillingPhone %><br />
    <%= f.text_field :BillingPhone %>
  </div>
  <div class="field">
    <%= f.label :ShipAddress1 %><br />
    <%= f.text_field :ShipAddress1 %>
  </div>
  <div class="field">
    <%= f.label :ShipAddress2 %><br />
    <%= f.text_field :ShipAddress2 %>
  </div>
  <div class="field">
    <%= f.label :ShipCity %><br />
    <%= f.text_field :ShipCity %>
  </div>
  <div class="field">
    <%= f.label :ShipState %><br />
    <%= f.text_field :ShipState %>
  </div>
  <div class="field">
    <%= f.label :ShipZip %><br />
    <%= f.text_field :ShipZip %>
  </div>
  <div class="field">
    <%= f.label :ShipPhone %><br />
    <%= f.text_field :ShipPhone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
