<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Billing Phone</th>
    <th>Shipping Phone</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.FullName %></td>
    <td><%= customer.BillingPhone %></td>
    <td><%= customer.ShipPhone %></td>
    <td><%= imgLink('show.png',"16x16", customer) %></td>
    <td><%= imgLink('edit.png',"16x16", edit_customer_path(customer)) %></td>
    <td><%= imgLink('delete.png',"16x16", customer, confirm: 'Are you sure?', method: :delete) %></td>
  </tr>
<% end %>
<tr><td colspan="6"><%= link_to 'Add New Customer', new_customer_path %></td></tr>

</table>

<br />

