<h1>Listing customers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Billingaddress1</th>
    <th>Billingaddress2</th>
    <th>Billingcity</th>
    <th>Billingstate</th>
    <th>Billingzip</th>
    <th>Billingphone</th>
    <th>Shipaddress1</th>
    <th>Shipaddress2</th>
    <th>Shipcity</th>
    <th>Shipstate</th>
    <th>Shipzip</th>
    <th>Shipphone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.FirstName %></td>
    <td><%= customer.LastName %></td>
    <td><%= customer.BillingAddress1 %></td>
    <td><%= customer.BillingAddress2 %></td>
    <td><%= customer.BillingCity %></td>
    <td><%= customer.BillingState %></td>
    <td><%= customer.BillingZip %></td>
    <td><%= customer.BillingPhone %></td>
    <td><%= customer.ShipAddress1 %></td>
    <td><%= customer.ShipAddress2 %></td>
    <td><%= customer.ShipCity %></td>
    <td><%= customer.ShipState %></td>
    <td><%= customer.ShipZip %></td>
    <td><%= customer.ShipPhone %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
