<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Customer' %><br />
    <%= collection_select(:order, :CustomerID, Customer.all, :id, :FullName, {:prompt => true} ) %>
  </div>
  <div class="field">
    <%= f.label 'Employee Processor' %><br />
    <%= collection_select(:order, :EmployeeID, Employee.all, :id, :FullName, {:prompt => true} ) %>
  </div>
  <div class="field">
    <%= f.label :OrderDate %><br />
    <%= f.date_select :OrderDate %>
  </div>
  <div class="field">
    <%= f.label :PurchaseOrderNumber %><br />
    <%= f.text_field :PurchaseOrderNumber %>
  </div>
  <div class="field">
    <%= f.label "Sales Tax Rate" %><br />
    <%= f.text_field :SalesTaxRate %>
  </div>

  <div class="field">
    <%= f.label :ShipDate %><br />
    <%= f.date_select :ShipDate %>
  </div>
  <div class="field">
    <%= f.label 'Shipping Method' %><br />
    <%= collection_select(:order, :ShippingMethodID, ShippingMethod.all, :id, :ShippingMethod, {:prompt => true} ) %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
