<h1>Listing orders</h1>
<h4>Click the view icon to see order details for that order.</h4>
<table>
  <tr>
    <th>Order Number</th>
    <th>Customer</th>
    <th>Employee Processor</th>
    <th>Order Date</th>
    <th>Purchase Order</th>
    <th>Ship Date</th>
    <th>Shipping Method</th>
    <th></th><th></th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= Customer.find(order.CustomerID).FullName %></td>
    <td><%= Employee.find(order.EmployeeID).FullName %></td>
    <td><%= order.OrderDate %></td>
    <td><%= order.PurchaseOrderNumber %></td>
    <td><%= order.ShipDate %></td>
    <td><%= (order.ShippingMethodID != nil ? ShippingMethod.find(order.ShippingMethodID).ShippingMethod : "" ) %></td>
    
    <td></td><td></td>
    <td><%= imgLink('show.png',"16x16",order) %></td>
    <td><%= imgLink('edit.png',"16x16",edit_order_path(order)) %></td>
    <td><%= imgLink('delete.png',"16x16",order, confirm: 'Are you sure?', method: :delete) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
