<h1>Listing orders</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Employee Processor</th>
    <th>Order Date</th>
    <th>Purchase Order</th>
    <th>Ship Date</th>
    <th>Shipping Method</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= Customer.find(order.CustomerID).FirstName + " " + Customer.find(order.CustomerID).LastName %></td>
    <td><%= Employee.find(order.EmployeeID).FirstName + " " + Employee.find(order.CustomerID).LastName %></td>
    <td><%= order.OrderDate %></td>
    <td><%= order.PurchaseOrderNumber %></td>
    <td><%= order.ShipDate %></td>
    <td><%= ShippingMethod.find(order.ShippingMethodID).ShippingMethod %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
