<p id="notice"><%= notice %></p>
<table>
<tr>
<td><b>Customer:</b></td>
<td> <%= Customer.find(@order.CustomerID).FullName %></td>
</tr><tr>
<td><b>Employee Processor:</b></td>
<td><%= Employee.find(@order.EmployeeID).FullName %></td>
</tr><tr>
<td><b>Order Date:</b></td>
<td><%= @order.OrderDate %></td>
</tr><tr>
<td><b>Purchase Order:</b></td>
<td><%= @order.PurchaseOrderNumber %></td>
</tr><tr>
<td><b>Shipdate:</b></td>
<td><%= @order.ShipDate %></td>
</tr><tr>
<td><b>Shipping Method:</b></td>
<td><%= ( @order.ShippingMethodID != nil ? ShippingMethod.find(@order.ShippingMethodID).ShippingMethod : "" ) %></td>
</tr>
<tr><td colspan="2"><%= imgLink('edit.png',"16x16",edit_order_path(@order)) %> </td></tr>
</table>
<br><br><br>

<table>
  <tr><th>Order Details</th></tr>
</table>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Discount %</th>
    <th>Total Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_details.each do |order_detail| %>
  <tr>
    <td><%= Product.find(order_detail.ProductID).ProductName %></td>
    <td><%= order_detail.Quantity %></td>
    <td><%= sprintf("$%0.02f", order_detail.UnitPrice) %></td>
    <td><%= order_detail.Discount %></td>
    <td><%= sprintf("$%0.02f", order_detail.FinalPrice) %></td>
    <td></td>
    <td><%= imgLink('edit.png',"16x16",edit_order_detail_path(order_detail) + "?OrderID=#{@order.id}") %></td>
    <td><%= imgLink('delete.png',"16x16",order_detail, confirm: 'Are you sure?', method: :delete) %></td>
  </tr>
<% end %>
<tr>
<td colspan="8">
<%= link_to 'Add Item to Order', new_order_detail_path + "?OrderID=#{@order.id}" %>
</td>
</tr>
</table>
<br />

<%= link_to 'Back', orders_path %>
