<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :OrderID %><br />
    <%= f.number_field :OrderID %>
  </div>
  <div class="field">
    <%= f.label :PaymentAmount %><br />
    <%= f.text_field :PaymentAmount %>
  </div>
  <div class="field">
    <%= f.label :PaymentDate %><br />
    <%= f.date_select :PaymentDate %>
  </div>
  <div class="field">
    <%= f.label :Status %><br />
    <%= f.text_field :Status %>
  </div>
  <div class="field">
    <%= f.label :PaymentMethodID %><br />
    <%= f.number_field :PaymentMethodID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
