<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @payment.OrderID %>
</p>

<p>
  <b>Payment Amount:</b>
  <%= @payment.PaymentAmount %>
</p>

<p>
  <b>Payment Date:</b>
  <%= @payment.PaymentDate %>
</p>

<p>
  <b>Status:</b>
  <%= @payment.Status %>
</p>

<p>
  <b>Payment Method:</b>
  <%= PaymentMethod.find(@payment.PaymentMethodID).PaymentMethod %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) + "?OrderID=#{@payment.OrderID}" %> |
<%= link_to 'Back', "/widgets/orders/#{@payment.OrderID}" %>
