<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= Product.find(@schematic.ProductID).ProductName %>
</p>

<p>
  <b>Component:</b>
  <%= Component.find(@schematic.ComponentID).Name %>
</p>
<p>
  <b>Quantity:</b>
  <%= @schematic.Quantity %>
</p>


<%= link_to 'Edit', edit_schematic_path(@schematic) %> |
<%= link_to 'Back', "/widgets/products/#{@schematic.ProductID}" %>
