<h1>Listing products</h1>

<table>
  <tr>
    <th>Product Name</th>
    <th>Unit Price</th>
    <th>Unit Cost</th>
    <th>Quantity on Hand</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.ProductName %></td>
    <td><%= product.UnitPrice %></td>
    <td><%= product.UnitCost %></td>
    <td><%= product.Quantity %></td>
    <td><%= imgLink( 'show.png',"16x16", product) %></td>
    <td><%= imgLink 'edit.png',"16x16", edit_product_path(product) %></td>
    <td><%= imgLink 'delete.png',"16x16", product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
