<p id="notice"><%= notice %></p>

<p>
  <b>Product Name:</b>
  <%= @product.ProductName %>
</p>

<p>
  <b>Unit Price:</b>
  <%= @product.UnitPrice %>
</p>

<p>
  <b>Quantity on Hand:</b>
  <%= @product.Quantity %>
</p>

<p>
  <b>Unit Cost:</b>
  <%= @product.UnitCost %>
</p>

<table onclick="toggle_visibility('componentstable');"><tr><th>Product Components (Click to Show/Hide)</th></tr></table>
<div id="componentstable" style="display:none;">
<table>
<tr>
<th>Component</th>
<th>Component Cost</th>
<th>Edit</th>
<th>Delete</th>
</tr>

<% @components.each do |component| %>
<tr>
   <td><%= component.Name %></td>
   <td><%= component.UnitCost %></td>
   <td><%= imgLink('edit.png',"16x16", edit_component_path(component) + "?ProductID=#{component.ProductID}") %></td>
   <td><%= imgLink('delete.png',"16x16", component, confirm: 'Are you sure?', method: :delete) %></td>
</tr>
<% end %>
<tr><td colspan="4"><%= link_to 'Add Component to Product', new_component_path + "?ProductID=#{@product.id}" %></td></tr>
</table>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
