<p id="notice"><%= notice %></p>

<p>
  <b>Product Name:</b>
  <%= @product.ProductName %>
</p>

<p>
  <b>Unit Price:</b>
  <%= @product.UnitPrice %>
</p>

<p>
  <b>Quantity on Hand:</b>
  <%= @product.Quantity %>
</p>

<p>
  <b>Unit Cost:</b>
  <%= @product.UnitCost %>
</p>


<table>
<tr>
<th>Component</th>
<th>Component Cost</th>
</tr>

<% @components.each do |component| %>
<tr>
   <td><%= component.Name %></td>
   <td><%= component.UnitCost %></td>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
