<!DOCTYPE html>
<html>
<head>
  <title>Widgets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p><%= link_to('Go Back',url_for(:back)) %> | <%=  link_to_unless_current( 'Home','/widgets/' ) {""} %></p>
</body>
</html>
